In [93]:
import requests
import json
from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType, StructField, StringType, DoubleType, IntegerType,
    TimestampType, ArrayType
)
from pyspark.sql.functions import col, to_timestamp, lit, coalesce
import psycopg2
from pprint import pprint
from pyspark.sql import Row

In [5]:
spark = SparkSession.builder.appName("IndianRailwayTrainTracker").master("local[*]").config("spark.jars.packages", "org.postgresql:postgresql:42.7.4").getOrCreate()

In [85]:
BASE_URL = "http://irctc-connect-main:3001/api/train"

In [88]:
def get_train_info(train_number: str):
    """Fetch train info and route."""
    url = f"{BASE_URL}/trainInfo"
    params = {"trainNumber": train_number}
    try:
        response = requests.get(url, params=params, timeout=10)
        response.raise_for_status()
        data = response.json()

        print("\n===== TRAIN INFO =====")
        print(f"Train Number: {train_number}")
        if data.get("success"):
            train_info = data["data"].get("trainInfo", {})
            route = data["data"].get("route", [])
            print(f"Name        : {train_info.get('name', 'N/A')}")
            print(f"Type        : {train_info.get('type', 'N/A')}")
            print("\n--- ROUTE ---")
            for stop in route:
                print(f"  {stop}")
        else:
            print("Error:", data.get("error"))
        print("\n--- RAW RESPONSE ---")
        print(json.dumps(data, indent=4))
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching train info: {e}")
        return None

In [86]:
def track_train(train_number: str, date_str: str):
    url = f"{BASE_URL}/trackTrain"
    headers = {"Content-Type": "application/json"}
    payload = {
        "trainNumber": train_number,
        "date": date_str
    }
    try:
        response = requests.post(url, headers=headers, json=payload, timeout=10)
        response.raise_for_status()
        data = response.json()
        print("\n===== LIVE TRAIN STATUS =====")
        print(f"Train Number : {train_number}")
        print(f"Date         : {date_str}")
        print(f"Last Updated : {datetime.now().strftime('%d-%m-%Y %H:%M:%S')}")
        print("\n--- RAW RESPONSE ---")
        print(json.dumps(data, indent=4))
        if isinstance(data, dict):
            if "current_station" in data:
                print("\nCurrent Station:", data["current_station"])
            if "status" in data:
                print("Status:", data["status"])
            if "upcoming_stations" in data:
                print("\nUpcoming Stations:")
                for stn in data["upcoming_stations"]:
                    print(f"  - {stn}")
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching train status: {e}")
        return None

In [6]:
def check_pnr_status(pnr: str):
    """Check PNR status."""
    url = f"{BASE_URL}/checkPNRStatus"
    params = {"pnr": pnr}
    try:
        response = requests.get(url, params=params, timeout=10)
        response.raise_for_status()
        data = response.json()

        print("\n===== PNR STATUS =====")
        print(f"PNR Number  : {pnr}")
        if data.get("success"):
            print("Train Name  :", data["data"]["train"]["name"])
            print("From        :", data["data"]["journey"]["from"]["name"])
            print("To          :", data["data"]["journey"]["to"]["name"])
            print("Status      :", data["data"]["status"])
        else:
            print("Error:", data.get("error"))
        print("\n--- RAW RESPONSE ---")
        print(json.dumps(data, indent=4))
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching PNR status: {e}")
        return None

In [7]:

def live_at_station(stn_code: str):
    """Get live upcoming trains at a station."""
    url = f"{BASE_URL}/liveAtStation"
    params = {"stnCode": stn_code}
    try:
        response = requests.get(url, params=params, timeout=10)
        response.raise_for_status()
        data = response.json()

        print("\n===== LIVE AT STATION =====")
        print(f"Station Code: {stn_code}")
        if data.get("success"):
            trains = data.get("data", [])
            print(f"Upcoming Trains: {len(trains)}")
            for t in trains:
                print(f"  Train: {t}")
        else:
            print("Error:", data.get("error"))
        print("\n--- RAW RESPONSE ---")
        print(json.dumps(data, indent=4))
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching live station data: {e}")
        return None

In [79]:
def track_train(train_number: str, date_str: str):
    """Track live train status."""
    url = f"{BASE_URL}/trackTrain"
    headers = {"Content-Type": "application/json"}
    payload = {"trainNumber": train_number, "date": date_str}
    try:
        response = requests.post(url, headers=headers, json=payload, timeout=10)
        response.raise_for_status()
        data = response.json()

        # print("\n===== LIVE TRAIN STATUS =====")
        # print(f"Train Number : {train_number}")
        # print(f"Date         : {date_str}")
        # print(f"Last Updated : {datetime.now().strftime('%d-%m-%Y %H:%M:%S')}")

        # if isinstance(data, dict) and data.get("success"):
        #     print("Status:", data.get("data", {}).get("status", "N/A"))
        # elif isinstance(data, dict):
        #     print("Error:", data.get("error"))

        # print("\n--- RAW RESPONSE ---")
        # print(json.dumps(data, indent=4))
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching train status: {e}")
        return None

In [9]:
def search_train_between_stations(from_stn_code: str, to_stn_code: str):
    """Search trains between two stations."""
    url = f"{BASE_URL}/searchTrainBetweenStations"
    headers = {"Content-Type": "application/json"}
    payload = {"fromStnCode": from_stn_code, "toStnCode": to_stn_code}
    try:
        response = requests.post(url, headers=headers, json=payload, timeout=10)
        response.raise_for_status()
        data = response.json()

        print("\n===== SEARCH BETWEEN STATIONS =====")
        print(f"From: {from_stn_code}  To: {to_stn_code}")
        if data.get("success"):
            trains = data.get("data", [])
            print(f"Found {len(trains)} trains")
        else:
            print("Error:", data.get("error"))
        print("\n--- RAW RESPONSE ---")
        print(json.dumps(data, indent=4))
        return data
    except requests.exceptions.RequestException as e:
        print(f"Error searching trains: {e}")
        return None

In [ ]:
from sqlalchemy import (
    create_engine, MetaData, Table, Column, Integer, String, DateTime, Float,
    ForeignKey, Index
)
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.exc import SQLAlchemyError


def create_table_dynamic(db_url: str, table_name: str, columns: list, indexes: list = None):
    """
    Dynamically creates a table with optional indexes and foreign keys.
    Reflects existing tables from DB first, so foreign keys can reference them.

    Args:
        db_url (str): Database connection string.
        table_name (str): Name of the table to create.
        columns (list): List of dicts with column metadata.
                        Supported keys: name, type, length, primary_key, nullable,
                                        autoincrement, unique, default, foreign_key.
        indexes (list): List of dicts for indexes.
    """
    engine = create_engine(db_url)
    metadata = MetaData()

    # Reflect all existing tables from DB into metadata
    metadata.reflect(bind=engine)
    # Now metadata.tables contains all existing tables known to DB

    type_map = {
        "integer": Integer,
        "string": lambda length=255: String(length),
        "datetime": DateTime,
        "float": Float,
        "array": lambda: ARRAY(Integer)  # Only integer arrays supported here
    }

    column_objs = []
    for col in columns:
        col_type_key = col["type"].lower()
        if col_type_key not in type_map:
            raise ValueError(f"Unsupported column type: {col['type']}")

        if col_type_key == "string":
            col_type = type_map[col_type_key](col.get("length", 255))
        elif col_type_key == "array":
            col_type = type_map[col_type_key]()  # no length param for ARRAY
        else:
            col_type = type_map[col_type_key]

        fk = ForeignKey(col["foreign_key"]) if "foreign_key" in col else None

        args = [col["name"], col_type]
        if fk:
            args.append(fk)

        column_objs.append(
            Column(
                *args,
                primary_key=col.get("primary_key", False),
                nullable=col.get("nullable", True),
                autoincrement=col.get("autoincrement", False),
                unique=col.get("unique", False),
                default=col.get("default", None),
            )
        )

    # Create new table in the same metadata (which has all reflected tables)
    table = Table(table_name, metadata, *column_objs)

    if indexes:
        for idx in indexes:
            Index(idx["name"], *[table.c[col] for col in idx["columns"]])

    try:
        metadata.create_all(engine)
        print(f"✅ Table '{table_name}' created successfully.")
    except SQLAlchemyError as e:
        print(f"❌ Error creating table: {e}")


# Example usage
if __name__ == "__main__":
    DB_URL = "postgresql://postgres:iaCkmHPhuyhFLEBDGdwxQGGqlHvdgWJA@yamanote.proxy.rlwy.net:29855/railway"

    columns_metadata = [
        {"name": "train_no", "type": "String", "length": 20, "nullable": True,  "primary_key": True, "nullable": False, },
        {"name": "train_name", "type": "String", "length": 100, "nullable": True},
        {"name": "source_stn_code", "type": "String", "length": 10, "nullable": True,
         "foreign_key": "stations.station_code"},
        {"name": "dstn_stn_code", "type": "String", "length": 10, "nullable": True,
         "foreign_key": "stations.station_code"},
        {"name": "from_time", "type": "String", "length": 10, "nullable": True},
        {"name": "to_time", "type": "String", "length": 10, "nullable": True},
        {"name": "travel_time", "type": "String", "length": 20, "nullable": True},
        {"name": "running_days", "type": "array", "nullable": True},
        {"name": "distance", "type": "String", "length": 20, "nullable": True},
        {"name": "halts", "type": "Integer", "nullable": True},
    ]

    indexes_metadata = [
        {"name": "idx_train_no", "columns": ["train_no"]},
        {"name": "idx_source_stn_code", "columns": ["source_stn_code"]},
        {"name": "idx_dstn_stn_code", "columns": ["dstn_stn_code"]},
    ]

    create_table_dynamic(DB_URL, "trains", columns_metadata, indexes_metadata)

In [2]:
JDBC_URL = "jdbc:postgresql://yamanote.proxy.rlwy.net:29855/railway"
DB_PROPERTIES = {
    "user": "postgres",
    "password": "iaCkmHPhuyhFLEBDGdwxQGGqlHvdgWJA",
    "driver": "org.postgresql.Driver"
}

In [3]:
ddl_commands = """
    CREATE TABLE IF NOT EXISTS stations (
    station_code VARCHAR(10) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    state VARCHAR(100),
    zone VARCHAR(10),
    address TEXT,
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    CONSTRAINT station_code_not_empty CHECK (station_code <> ''),
    CONSTRAINT latitude_range CHECK (latitude IS NULL OR (latitude >= -90 AND latitude <= 90)),
    CONSTRAINT longitude_range CHECK (longitude IS NULL OR (longitude >= -180 AND longitude <= 180))
);

CREATE TABLE IF NOT EXISTS trains (
    train_number VARCHAR(10) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    from_station_code VARCHAR(10) NOT NULL REFERENCES stations(station_code) ON DELETE CASCADE,
    to_station_code VARCHAR(10) NOT NULL REFERENCES stations(station_code) ON DELETE CASCADE,
    distance_km DOUBLE PRECISION NOT NULL CHECK (distance_km >= 0),
    duration_h INTEGER NOT NULL CHECK (duration_h >= 0),
    duration_m INTEGER NOT NULL CHECK (duration_m >= 0 AND duration_m < 60),
    type VARCHAR(50),
    first_ac INTEGER DEFAULT 0 CHECK (first_ac >= 0),
    second_ac INTEGER DEFAULT 0 CHECK (second_ac >= 0),
    third_ac INTEGER DEFAULT 0 CHECK (third_ac >= 0),
    first_class INTEGER DEFAULT 0 CHECK (first_class >= 0),
    sleeper INTEGER DEFAULT 0 CHECK (sleeper >= 0),
    chair_car INTEGER DEFAULT 0 CHECK (chair_car >= 0),
    zone VARCHAR(10),
    departure_time TIME NOT NULL,
    arrival_time TIME NOT NULL
);

CREATE TABLE IF NOT EXISTS schedules (
    id BIGINT PRIMARY KEY,
    train_number VARCHAR(10) NOT NULL REFERENCES trains(train_number) ON DELETE CASCADE,
    train_name VARCHAR(255) NOT NULL,
    station_code VARCHAR(10) NOT NULL REFERENCES stations(station_code) ON DELETE CASCADE,
    station_name VARCHAR(255) NOT NULL,
    day INTEGER NOT NULL CHECK (day >= 1),
    arrival_time TIME,
    departure_time TIME
);

"""

In [4]:
conn = psycopg2.connect(
    dbname="railway",
    user=DB_PROPERTIES["user"],
    password=DB_PROPERTIES["password"],
    host="yamanote.proxy.rlwy.net",
    port=29855
)

In [6]:
cur = conn.cursor()
for ddl in ddl_commands.strip().split(";"):
    if ddl.strip():
        cur.execute(ddl)
conn.commit()
cur.close()
conn.close()

In [7]:
stations_schema = StructType([
    StructField("type", StringType(), True),
    StructField("features", ArrayType(
        StructType([
            StructField("geometry", StructType([
                StructField("type", StringType(), True),
                StructField("coordinates", ArrayType(DoubleType()), True)
            ]), True),
            StructField("type", StringType(), True),
            StructField("properties", StructType([
                StructField("state", StringType(), True),
                StructField("code", StringType(), True),
                StructField("name", StringType(), True),
                StructField("zone", StringType(), True),
                StructField("address", StringType(), True)
            ]), True)
        ])
    ), True)
])

trains_schema = StructType([
    StructField("type", StringType(), True),
    StructField("features", ArrayType(
        StructType([
            StructField("geometry", StructType([
                StructField("type", StringType(), True),
                StructField("coordinates", ArrayType(ArrayType(DoubleType())), True)
            ]), True),
            StructField("type", StringType(), True),
            StructField("properties", StructType([
                StructField("third_ac", IntegerType(), True),
                StructField("arrival", StringType(), True),
                StructField("from_station_code", StringType(), True),
                StructField("name", StringType(), True),
                StructField("zone", StringType(), True),
                StructField("chair_car", IntegerType(), True),
                StructField("first_class", IntegerType(), True),
                StructField("duration_m", IntegerType(), True),
                StructField("sleeper", IntegerType(), True),
                StructField("from_station_name", StringType(), True),
                StructField("number", StringType(), True),
                StructField("departure", StringType(), True),
                StructField("return_train", StringType(), True),
                StructField("to_station_code", StringType(), True),
                StructField("second_ac", IntegerType(), True),
                StructField("classes", StringType(), True),
                StructField("to_station_name", StringType(), True),
                StructField("duration_h", IntegerType(), True),
                StructField("type", StringType(), True),
                StructField("first_ac", IntegerType(), True),
                StructField("distance", DoubleType(), True)
            ]), True)
        ])
    ), True)
])

schedules_schema = StructType([
    StructField("arrival", StringType(), True),
    StructField("day", IntegerType(), True),
    StructField("train_name", StringType(), True),
    StructField("station_name", StringType(), True),
    StructField("station_code", StringType(), True),
    StructField("id", IntegerType(), True),
    StructField("train_number", StringType(), True),
    StructField("departure", StringType(), True)
])

In [12]:
stations_df_raw = spark.read.option("multiline", True).schema(stations_schema).json("/home/jupyter/data/stations.json")
stations_df_raw.count()
stations_df_raw.show()

+-----------------+--------------------+
|             type|            features|
+-----------------+--------------------+
|FeatureCollection|[{{Point, [75.451...|
+-----------------+--------------------+

In [15]:
stations_df = stations_df_raw.selectExpr("inline(features)") \
    .select(
        col("properties.code").alias("station_code"),
        col("properties.name").alias("name"),
        col("properties.state").alias("state"),
        col("properties.zone").alias("zone"),
        col("properties.address").alias("address"),
        col("geometry.coordinates").getItem(1).alias("latitude"),
        col("geometry.coordinates").getItem(0).alias("longitude")
    )

stations_df.count()
stations_df.show()

+------------+--------------------+--------------+----+--------------------+------------------+-----------------+
|station_code|                name|         state|zone|             address|          latitude|        longitude|
+------------+--------------------+--------------+----+--------------------+------------------+-----------------+
|        BDHL|              Badhal|     Rajasthan| NWR|Kishangarh Renwal...|        27.2520587|       75.4516454|
|     XX-BECE|             XX-BECE|          null|null|                null|              null|             null|
|     XX-BSPY|             XX-BSPY|          null|null|                null|              null|             null|
|     YY-BPLC|             YY-BPLC|          null|null|                null|              null|             null|
|         KHH|              KICHHA| Uttar Pradesh| NER|Kichha, Uttar Pra...|28.913427000000002|        79.519746|
|        SRKN|            Sherekan|     Rajasthan| NWR|   MDR 89, Rajasthan| 29.55519806064484|74.43499088287354|
|        BKKA|            Bhukarka|     Rajasthan| NWR| Bhukarka, Rajasthan|29.238227312503696|74.75103096105158|
|         NHR|               Nohar|     Rajasthan| NWR|State Highway 36,...|29.192562738768984|74.77362781763077|
|        PRGD|           Perungudi|    Tamil Nadu|  SR| Chennai, Tamil Nadu|         12.975217|        80.231363|
|        KNNA|          Khinaniyan|       Haryana| NWR|State Highway 23,...|29.345637263205944| 74.7179570607841|
|         JKR|           JAULKHERA|          null|null|                null|         21.838466|        78.216684|
|         BYS|             BARSALI|          null|null|                null|         21.909813|78.03136099999999|
|          GW|              GIRWAR|          null|null|                null|23.838185999999997|        78.936311|
|         DGD|           DANGIDHAR|          null|null|                null|23.871771000000003|        79.019912|
|         DOD|             DHODHAR|Madhya Pradesh|  WR|Dhodar, Madhya Pr...|23.770740999999997|75.10354600000001|
|         GAJ|          GANESHGANJ|          null|null|                null|         23.895862|        79.074633|
|         JNM|Jayanagar Majilpu...|   West Bengal|  ER|Jaynagar, West Be...|         22.168635|        88.415324|
|         NSD|           NASIRABAD|     Rajasthan| NWR|Nasirabad, Rajasthan|26.294459999999997|74.71699100000001|
|         PHA|            PATHARIA|          null|null|                null|         23.905726|        79.192899|
|         NZB|           NIZAMABAD|Andhra Pradesh| SCR|Nizamabad, Andhra...|18.679164999999998|        78.103238|
+------------+--------------------+--------------+----+--------------------+------------------+-----------------+
only showing top 20 rows

In [17]:
stations_df.write.jdbc(JDBC_URL, "stations", mode="append", properties=DB_PROPERTIES)

In [13]:
trains_df_raw = spark.read.option("multiline", True).schema(trains_schema).json("/home/jupyter/data/trains.json")
trains_df_raw.count()
trains_df_raw.show()

+-----------------+--------------------+
|             type|            features|
+-----------------+--------------------+
|FeatureCollection|[{{LineString, [[...|
+-----------------+--------------------+

In [21]:
trains_df = trains_df_raw.selectExpr("inline(features)") \
    .select(
        col("properties.number").alias("train_number"),
        col("properties.name").alias("name"),
        col("properties.from_station_code"),
        col("properties.to_station_code"),
        col("properties.distance").alias("distance_km"),
        col("properties.duration_h"),
        col("properties.duration_m"),
        col("properties.type"),
        col("properties.first_ac"),
        col("properties.second_ac"),
        col("properties.third_ac"),
        col("properties.sleeper"),
        col("properties.chair_car"),
        col("properties.zone"),
        to_timestamp(col("properties.departure"), "HH:mm:ss").alias("departure_time"),
        to_timestamp(col("properties.arrival"), "HH:mm:ss").alias("arrival_time")
    )

print(trains_df.count())
trains_df.printSchema()
trains_df.show(5)

5208
root
 |-- train_number: string (nullable = true)
 |-- name: string (nullable = true)
 |-- from_station_code: string (nullable = true)
 |-- to_station_code: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- duration_h: integer (nullable = true)
 |-- duration_m: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- first_ac: integer (nullable = true)
 |-- second_ac: integer (nullable = true)
 |-- third_ac: integer (nullable = true)
 |-- sleeper: integer (nullable = true)
 |-- chair_car: integer (nullable = true)
 |-- zone: string (nullable = true)
 |-- departure_time: timestamp (nullable = true)
 |-- arrival_time: timestamp (nullable = true)

+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|train_number|                name|from_station_code|to_station_code|distance_km|duration_h|duration_m|type|first_ac|second_ac|third_ac|sleeper|chair_car|zone|     departure_time|       arrival_time|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|       04601|Jammu Tawi Udhamp...|              JAT|            UHP|       53.0|         1|        35|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 10:40:00|1970-01-01 12:15:00|
|       04602|UDHAMPUR JAMMUTAW...|              UHP|            JAT|       53.0|         1|        50|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 06:45:00|1970-01-01 08:35:00|
|       04603|    JAT UDAHMPUR DMU|              JAT|            UHP|       53.0|         1|        35|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 16:15:00|1970-01-01 17:50:00|
|       04604|UDHAMPUR JAMMUTAW...|              UHP|            JAT|       53.0|         1|        30|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 18:20:00|1970-01-01 19:50:00|
|       04728|Mumbai BandraT-Bi...|             BDTS|            BKN|     1212.0|        21|        55|  SF|       0|        1|       1|      1|        0| NWR|1970-01-01 14:35:00|1970-01-01 12:30:00|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
only showing top 5 rows

In [23]:
trains_df_clean = trains_df.fillna({
    "distance_km": 0.0,
    "duration_h": 0,
    "duration_m": 0,
    "departure_time": "1970-01-01 00:00:00",
    "arrival_time": "1970-01-01 00:00:00"
})
print(trains_df.count())
trains_df.printSchema()
trains_df.show(5)

5208
root
 |-- train_number: string (nullable = true)
 |-- name: string (nullable = true)
 |-- from_station_code: string (nullable = true)
 |-- to_station_code: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- duration_h: integer (nullable = true)
 |-- duration_m: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- first_ac: integer (nullable = true)
 |-- second_ac: integer (nullable = true)
 |-- third_ac: integer (nullable = true)
 |-- sleeper: integer (nullable = true)
 |-- chair_car: integer (nullable = true)
 |-- zone: string (nullable = true)
 |-- departure_time: timestamp (nullable = true)
 |-- arrival_time: timestamp (nullable = true)

+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|train_number|                name|from_station_code|to_station_code|distance_km|duration_h|duration_m|type|first_ac|second_ac|third_ac|sleeper|chair_car|zone|     departure_time|       arrival_time|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|       04601|Jammu Tawi Udhamp...|              JAT|            UHP|       53.0|         1|        35|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 10:40:00|1970-01-01 12:15:00|
|       04602|UDHAMPUR JAMMUTAW...|              UHP|            JAT|       53.0|         1|        50|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 06:45:00|1970-01-01 08:35:00|
|       04603|    JAT UDAHMPUR DMU|              JAT|            UHP|       53.0|         1|        35|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 16:15:00|1970-01-01 17:50:00|
|       04604|UDHAMPUR JAMMUTAW...|              UHP|            JAT|       53.0|         1|        30|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 18:20:00|1970-01-01 19:50:00|
|       04728|Mumbai BandraT-Bi...|             BDTS|            BKN|     1212.0|        21|        55|  SF|       0|        1|       1|      1|        0| NWR|1970-01-01 14:35:00|1970-01-01 12:30:00|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
only showing top 5 rows

In [26]:
trains_df.write.jdbc(JDBC_URL, "trains", mode="append", properties=DB_PROPERTIES)

In [35]:
schedules_df = spark.read.option("multiline", True).schema(schedules_schema).json("/home/jupyter/data/schedules.json")
schedules_df.count()
schedules_df.show()

+--------+---+--------------------+-------------------+------------+------+------------+---------+
| arrival|day|          train_name|       station_name|station_code|    id|train_number|departure|
+--------+---+--------------------+-------------------+------------+------+------------+---------+
|    None|  1|Falaknuma Lingamp...|KACHEGUDA FALAKNUMA|          FM|302214|       47154| 07:55:00|
|    None|  1|Thrissur Guruvayu...|            THRISUR|         TCR|281458|       56044| 18:55:00|
|    None|  1|Porbandar Muzaffa...|          PORBANDAR|         PBR|309335|       19269| 15:05:00|
|    None|  1|  RAIPUR ITWARI PASS|          RAIPUR JN|           R|283774|       58205| 13:30:00|
|    None|  1|  Gomoh-Asansol MEMU|           GOMOH JN|         GMO|319937|       63542| 07:20:00|
|    None|  1|Rai Bareli-Mumbai...|      RAE BARELI JN|         RBL|520605|       21068| 16:15:00|
|    None|  1|Subramanya Road M...|   Subrahmanya Road|        SBHR|335930|       56646| 13:25:00|
|    None|  1|Ernakulam Alappuz...|       ERNAKULAM JN|         ERS|282535|       56379| 07:30:00|
|    None|  1|Salempur Barhaj P...|        SALEMPUR JN|         SRU|336174|       55145| 18:40:00|
|    None|  1| Bir Khandwa Shuttle|                Bir|         BIR| 17022|       51688| 15:15:00|
|    None|  1|Asansol-Bokaro St...|         ASANSOL JN|         ASN|336193|       63596| 17:50:00|
|    None|  1|Tanakpur Aishbagh...|           Tanakpur|         TPU|282465|       52228| 18:40:00|
|    None|  1|Botad Bhavnagar P...|           BOTAD JN|         BTD|336178|       59227| 21:10:00|
|    None|  1|     Harihar Express|     MUZAFFARPUR JN|         MFP|168737|       14523| 07:25:00|
|    None|  1|Birmitrapur Barsu...|       Biramitrapur|        BRMP|336277|       58151| 07:10:00|
|    None|  1|Patan Mehsana Pas...|              PATAN|         PTN|299325|       59478| 17:05:00|
|    None|  1|  Sealdah-Gede Local|    KOLKATA SEALDAH|        SDAH|336057|       31929| 20:32:00|
|06:49:00|  1|Pipar Road -Jodhp...|      PIPAR ROAD JN|         PPR| 11813|       04857| 06:50:00|
|    None|  1|Buxar Mughal Sara...|              BUXAR|         BXR|318164|       53215| 09:15:00|
|    None|  1| Howrah Panskura EMU|          HOWRAH JN|         HWH|299882|       38453| 17:50:00|
+--------+---+--------------------+-------------------+------------+------+------------+---------+
only showing top 20 rows

In [36]:
schedules_df = schedules_df \
    .withColumn("arrival_time", to_timestamp(col("arrival"), "HH:mm:ss")) \
    .withColumn("departure_time", to_timestamp(col("departure"), "HH:mm:ss")) \
    .select(
        col("id"),
        col("train_number"),
        col("station_code"),
        col("station_name"),
        col("day"),
        col("arrival_time"),
        col("departure_time"),
        col("train_name")
    )

In [37]:
schedules_df = schedules_df.alias("s") \
    .join(trains_df.select("train_number", "name").alias("t"),
          on="train_number", how="left") \
    .withColumn("train_name",
                coalesce(col("s.train_name"), col("t.name"))) \
    .drop(col("t.name"))

In [38]:
schedules_df.show()

+------------+------+------------+-------------------+---+-------------------+-------------------+--------------------+
|train_number|    id|station_code|       station_name|day|       arrival_time|     departure_time|          train_name|
+------------+------+------------+-------------------+---+-------------------+-------------------+--------------------+
|       47154|302214|          FM|KACHEGUDA FALAKNUMA|  1|               null|1970-01-01 07:55:00|Falaknuma Lingamp...|
|       56044|281458|         TCR|            THRISUR|  1|               null|1970-01-01 18:55:00|Thrissur Guruvayu...|
|       19269|309335|         PBR|          PORBANDAR|  1|               null|1970-01-01 15:05:00|Porbandar Muzaffa...|
|       58205|283774|           R|          RAIPUR JN|  1|               null|1970-01-01 13:30:00|  RAIPUR ITWARI PASS|
|       63542|319937|         GMO|           GOMOH JN|  1|               null|1970-01-01 07:20:00|  Gomoh-Asansol MEMU|
|       21068|520605|         RBL|      RAE BARELI JN|  1|               null|1970-01-01 16:15:00|Rai Bareli-Mumbai...|
|       56646|335930|        SBHR|   Subrahmanya Road|  1|               null|1970-01-01 13:25:00|Subramanya Road M...|
|       56379|282535|         ERS|       ERNAKULAM JN|  1|               null|1970-01-01 07:30:00|Ernakulam Alappuz...|
|       55145|336174|         SRU|        SALEMPUR JN|  1|               null|1970-01-01 18:40:00|Salempur Barhaj P...|
|       51688| 17022|         BIR|                Bir|  1|               null|1970-01-01 15:15:00| Bir Khandwa Shuttle|
|       63596|336193|         ASN|         ASANSOL JN|  1|               null|1970-01-01 17:50:00|Asansol-Bokaro St...|
|       52228|282465|         TPU|           Tanakpur|  1|               null|1970-01-01 18:40:00|Tanakpur Aishbagh...|
|       59227|336178|         BTD|           BOTAD JN|  1|               null|1970-01-01 21:10:00|Botad Bhavnagar P...|
|       14523|168737|         MFP|     MUZAFFARPUR JN|  1|               null|1970-01-01 07:25:00|     Harihar Express|
|       58151|336277|        BRMP|       Biramitrapur|  1|               null|1970-01-01 07:10:00|Birmitrapur Barsu...|
|       59478|299325|         PTN|              PATAN|  1|               null|1970-01-01 17:05:00|Patan Mehsana Pas...|
|       31929|336057|        SDAH|    KOLKATA SEALDAH|  1|               null|1970-01-01 20:32:00|  Sealdah-Gede Local|
|       04857| 11813|         PPR|      PIPAR ROAD JN|  1|1970-01-01 06:49:00|1970-01-01 06:50:00|Pipar Road -Jodhp...|
|       53215|318164|         BXR|              BUXAR|  1|               null|1970-01-01 09:15:00|Buxar Mughal Sara...|
|       38453|299882|         HWH|          HOWRAH JN|  1|               null|1970-01-01 17:50:00| Howrah Panskura EMU|
+------------+------+------------+-------------------+---+-------------------+-------------------+--------------------+
only showing top 20 rows

In [75]:
trains_df_clean.filter(col("train_number") == "12958").show()

+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|train_number|                name|from_station_code|to_station_code|distance_km|duration_h|duration_m|type|first_ac|second_ac|third_ac|sleeper|chair_car|zone|     departure_time|       arrival_time|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|       12958|New Delhi-Ahmedab...|             NDLS|            ADI|      934.0|        13|        40| Raj|       1|        1|       1|      0|        0|  WR|1970-01-01 19:55:00|1970-01-01 09:35:00|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+

In [76]:
import json
import http.client
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf, explode, concat_ws, to_timestamp, current_timestamp, date_format, when
from pyspark.sql.types import StringType, IntegerType

def fetch_train_info(train_number):
    conn = http.client.HTTPSConnection("indian-railway-irctc.p.rapidapi.com")
    headers = {
        'x-rapidapi-key': "ea82a60e4amsha48c0c76001fb28p1ac782jsn389a7907946c",
        'x-rapidapi-host': "indian-railway-irctc.p.rapidapi.com"
    }
    endpoint = f"/api/trains-search/v1/train/{train_number}?isH5=true&client=web"
    conn.request("GET", endpoint, headers=headers)
    res = conn.getresponse()
    data = res.read()
    json_data = json.loads(data.decode("utf-8"))
    
    trains_list = []
    if "body" in json_data and len(json_data["body"]) > 0 and "trains" in json_data["body"][0]:
        trains_list = json_data["body"][0]["trains"]
        
    # Normalize list fields to strings to avoid PySparkTypeError
    for train in trains_list:
        if "journeyClasses" in train and isinstance(train["journeyClasses"], list):
            train["journeyClasses"] = ",".join(train["journeyClasses"])
        if "train_type" in train and isinstance(train["train_type"], list):
            train["train_type"] = ",".join(train["train_type"])
    return trains_list

In [77]:
pprint(fetch_train_info("04602"))

[{'destination': 'Patna Jn',
  'journeyClasses': 'SL',
  'origin': 'Firozpur Cant',
  'runningOn': 'NNNYNNY',
  'schedule': [{'arrivalTime': '--',
                'boardingDisabled': 'false',
                'dayCount': '1',
                'departureTime': '15:10',
                'distance': '0',
                'haltTime': '--',
                'routeNumber': '1',
                'stationCode': 'FZR',
                'stationName': 'Firozpur Cant',
                'stnSerialNumber': '1'},
               {'arrivalTime': '16:00',
                'boardingDisabled': 'false',
                'dayCount': '1',
                'departureTime': '16:02',
                'distance': '56',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'MOGA',
                'stationName': 'Moga',
                'stnSerialNumber': '2'},
               {'arrivalTime': '17:00',
                'boardingDisabled': 'false',
                'dayCount': '1',
                'departureTime': '17:30',
                'distance': '124',
                'haltTime': '30:00',
                'routeNumber': '1',
                'stationCode': 'LDH',
                'stationName': 'Ludhiana Jn',
                'stnSerialNumber': '3'},
               {'arrivalTime': '19:50',
                'boardingDisabled': 'false',
                'dayCount': '1',
                'departureTime': '20:00',
                'distance': '238',
                'haltTime': '10:00',
                'routeNumber': '1',
                'stationCode': 'UMB',
                'stationName': 'Ambala Cant Jn',
                'stnSerialNumber': '5'},
               {'arrivalTime': '20:50',
                'boardingDisabled': 'false',
                'dayCount': '1',
                'departureTime': '20:52',
                'distance': '289',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'YJUD',
                'stationName': 'Yamunanagar Jud',
                'stnSerialNumber': '6'},
               {'arrivalTime': '21:20',
                'boardingDisabled': 'false',
                'dayCount': '1',
                'departureTime': '21:30',
                'distance': '319',
                'haltTime': '10:00',
                'routeNumber': '1',
                'stationCode': 'SRE',
                'stationName': 'Saharanpur',
                'stnSerialNumber': '7'},
               {'arrivalTime': '00:45',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '00:55',
                'distance': '512',
                'haltTime': '10:00',
                'routeNumber': '1',
                'stationCode': 'MB',
                'stationName': 'Moradabad',
                'stnSerialNumber': '8'},
               {'arrivalTime': '02:25',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '02:27',
                'distance': '603',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'BE',
                'stationName': 'Bareilly',
                'stnSerialNumber': '9'},
               {'arrivalTime': '06:30',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '06:40',
                'distance': '838',
                'haltTime': '10:00',
                'routeNumber': '1',
                'stationCode': 'LKO',
                'stationName': 'Lucknow Nr',
                'stnSerialNumber': '10'},
               {'arrivalTime': '08:20',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '08:22',
                'distance': '915',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'RBL',
                'stationName': 'Rae Bareli Jn',
                'stnSerialNumber': '11'},
               {'arrivalTime': '10:05',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '10:10',
                'distance': '1011',
                'haltTime': '05:00',
                'routeNumber': '1',
                'stationCode': 'MBDP',
                'stationName': 'Ma Belhadevi Dp',
                'stnSerialNumber': '12'},
               {'arrivalTime': '12:30',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '12:40',
                'distance': '1139',
                'haltTime': '10:00',
                'routeNumber': '1',
                'stationCode': 'BSB',
                'stationName': 'Varanasi Jn',
                'stnSerialNumber': '13'},
               {'arrivalTime': '13:30',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '13:40',
                'distance': '1155',
                'haltTime': '10:00',
                'routeNumber': '1',
                'stationCode': 'DDU',
                'stationName': 'Dd Upadhyaya Jn',
                'stnSerialNumber': '14'},
               {'arrivalTime': '14:50',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '14:52',
                'distance': '1250',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'BXR',
                'stationName': 'Buxar',
                'stnSerialNumber': '15'},
               {'arrivalTime': '15:40',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '15:42',
                'distance': '1318',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'ARA',
                'stationName': 'Ara Jn',
                'stnSerialNumber': '16'},
               {'arrivalTime': '16:20',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '16:22',
                'distance': '1358',
                'haltTime': '02:00',
                'routeNumber': '1',
                'stationCode': 'DNR',
                'stationName': 'Danapur',
                'stnSerialNumber': '17'},
               {'arrivalTime': '18:00',
                'boardingDisabled': 'false',
                'dayCount': '2',
                'departureTime': '--',
                'distance': '1367',
                'haltTime': '--',
                'routeNumber': '1',
                'stationCode': 'PNBE',
                'stationName': 'Patna Jn',
                'stnSerialNumber': '18'}],
  'stationFrom': 'FZR',
  'stationTo': 'PNBE',
  'trainName': 'Pnbe Summer Spl',
  'trainNumber': '04602',
  'train_type': 'ST,SP'}]

In [90]:
from datetime import datetime

current_date = datetime.now().strftime("%d-%m-%Y")
print(current_date)  # Example: 13-08-2025

13-08-2025

In [92]:
trains_df_clean.show(2)

+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|train_number|                name|from_station_code|to_station_code|distance_km|duration_h|duration_m|type|first_ac|second_ac|third_ac|sleeper|chair_car|zone|     departure_time|       arrival_time|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
|       04601|Jammu Tawi Udhamp...|              JAT|            UHP|       53.0|         1|        35|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 10:40:00|1970-01-01 12:15:00|
|       04602|UDHAMPUR JAMMUTAW...|              UHP|            JAT|       53.0|         1|        50|DEMU|       0|        0|       0|      0|        0|  NR|1970-01-01 06:45:00|1970-01-01 08:35:00|
+------------+--------------------+-----------------+---------------+-----------+----------+----------+----+--------+---------+--------+-------+---------+----+-------------------+-------------------+
only showing top 2 rows

In [94]:
def track_train(train_number: str, date_str: str):
    """Call trackTrain API and return parsed JSON."""
    url = f"{BASE_URL}/trackTrain"
    headers = {"Content-Type": "application/json"}
    payload = {"trainNumber": train_number, "date": date_str}

    try:
        response = requests.post(url, headers=headers, json=payload, timeout=8)
        response.raise_for_status()
        return response.json()
    except requests.RequestException:
        return None

def parse_train_status(train_number, api_data):
    """Extract last_crossed, next_upcoming, and delay in minutes."""
    if not api_data or not api_data.get("success"):
        return Row(
            train_number=train_number,
            last_crossed=None,
            next_upcoming=None,
            delay_minutes=0
        )

    stations = api_data.get("data", [])

    # Find last crossed station
    last_crossed = None
    for s in stations:
        if s.get("status") == "crossed":
            last_crossed = s.get("station")

    # Find first upcoming station
    next_upcoming = None
    delay_minutes = 0
    for s in stations:
        if s.get("status") == "upcoming":
            next_upcoming = s.get("station")
            delay_str = s.get("delay", "")
            try:
                delay_minutes = int(delay_str) if delay_str else 0
            except ValueError:
                delay_minutes = 0
            break

    return Row(
        train_number=train_number,
        last_crossed=last_crossed,
        next_upcoming=next_upcoming,
        delay_minutes=delay_minutes
    )

def process_partition(partition):
    """Run API calls for each train in a Spark partition."""
    date_str = datetime.now().strftime("%d-%m-%Y")
    for row in partition:
        train_number = str(row.train_number)
        api_data = track_train(train_number, date_str)
        yield parse_train_status(train_number, api_data)

In [95]:
train_status_df = trains_df_clean.rdd.mapPartitions(process_partition).toDF()

In [ ]:
train_status_df.show(5, truncate=False)

In [69]:
schedules_df.write.jdbc(JDBC_URL, "schedules", mode="append", properties=DB_PROPERTIES)

Py4JJavaError: An error occurred while calling o452.jdbc.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 101.0 failed 1 times, most recent failure: Lost task 0.0 in stage 101.0 (TID 98) (d1bd379c1917 executor driver): java.sql.BatchUpdateException: Batch entry 0 INSERT INTO schedules ("train_number","id","station_code","station_name","day","arrival_time","departure_time","train_name") VALUES (('08004'),('633'::int4),('PANP'),('PANDAVAPURA'),('1'::int4),('1970-01-01 00:50:00+00'::time),('1970-01-01 00:50:00+00'::time),('Mysore - Howrah Special')) was aborted: ERROR: duplicate key value violates unique constraint "schedules_pkey"
  Detail: Key (id)=(633) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.ResultHandlerDelegate.handleError(ResultHandlerDelegate.java:52)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2421)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2153)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1503)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1528)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:566)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:888)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1739)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:708)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:868)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:867)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1011)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1011)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "schedules_pkey"
  Detail: Key (id)=(633) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2733)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2420)
	... 21 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2293)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1011)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1009)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:867)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:70)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:560)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:116)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:860)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:390)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:363)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:757)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.sql.BatchUpdateException: Batch entry 0 INSERT INTO schedules ("train_number","id","station_code","station_name","day","arrival_time","departure_time","train_name") VALUES (('08004'),('633'::int4),('PANP'),('PANDAVAPURA'),('1'::int4),('1970-01-01 00:50:00+00'::time),('1970-01-01 00:50:00+00'::time),('Mysore - Howrah Special')) was aborted: ERROR: duplicate key value violates unique constraint "schedules_pkey"
  Detail: Key (id)=(633) already exists.  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.core.ResultHandlerDelegate.handleError(ResultHandlerDelegate.java:52)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2421)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2153)
	at org.postgresql.core.v3.QueryExecutorImpl.flushIfDeadlockRisk(QueryExecutorImpl.java:1503)
	at org.postgresql.core.v3.QueryExecutorImpl.sendQuery(QueryExecutorImpl.java:1528)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:566)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:888)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:912)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1739)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:708)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:868)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:867)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1011)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1011)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "schedules_pkey"
  Detail: Key (id)=(633) already exists.
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2733)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2420)
	... 21 more